.dashboard-top-title {
    display: flex;
    align-items: center;
    height: 60px;
    font-size: 16px;
    padding-left: 12px;
}

.icon-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    cursor: pointer;
}

.icon-back {
    font-weight: bold;
    color: #3A84FF;
}

.separator {
    padding: 0 6px;
    color: #979ba5;
}
