/* @import '@/css/variable.css'; */
@import '@/css/mixins/ellipsis.css';

.dashboard-top-title {
    display: inline-block;
    height: 60px;
    line-height: 60px;
    font-size: 16px;
    margin-left: 20px;
}

.dashboard-content-wrapper {
    .search-wapper {
        display: flex;
        justify-content: flex-end;
        height: 32px;
        margin-bottom: 20px;
    }
}

.workload-table {
    .images-wrapper {
        padding: 10px 0;
    }
    .image-item {
        line-height: 20px;
        @mixin ellipsis 600px, block;
    }
}

.namespace-select {
    margin-right: 5px;
    background: #fff;
    width: 250px;
}
