@font-face {
	font-family: "bk";
	src: url("fonts/iconcool.svg#iconcool") format("svg"),
url("fonts/iconcool.ttf") format("truetype"),
url("fonts/iconcool.woff") format("woff"),
url("fonts/iconcool.eot?#iefix") format("embedded-opentype");
    font-weight: normal;
    font-style: normal;
}

.bk-icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'bk' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  text-align: center;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-alarm-error:before {
	content: "\e08c";
}
.icon-alarm-insufficient:before {
	content: "\e08d";
}
.icon-alarm-normal:before {
	content: "\e08e";
}
.icon-angle-double-down:before {
	content: "\e08f";
}
.icon-angle-double-left:before {
	content: "\e090";
}
.icon-angle-double-up:before {
	content: "\e091";
}
.icon-angle-double-right:before {
	content: "\e092";
}
.icon-angle-down:before {
	content: "\e093";
}
.icon-angle-left:before {
	content: "\e094";
}
.icon-angle-right:before {
	content: "\e095";
}
.icon-angle-up:before {
	content: "\e096";
}
.icon-apply-join-project:before {
	content: "\e097";
}
.icon-apply-perm:before {
	content: "\e098";
}
.icon-apply-record:before {
	content: "\e099";
}
.icon-apps-shape:before {
	content: "\e09a";
}
.icon-apps:before {
	content: "\e09b";
}
.icon-area-chart:before {
	content: "\e09c";
}
.icon-arrows-down-circle-shape:before {
	content: "\e09d";
}
.icon-arrows-down-circle:before {
	content: "\e09e";
}
.icon-arrows-down-shape:before {
	content: "\e09f";
}
.icon-arrows-down:before {
	content: "\e0a0";
}
.icon-arrows-left-circle-shape:before {
	content: "\e0a1";
}
.icon-arrows-left-shape:before {
	content: "\e0a2";
}
.icon-arrows-left-circle:before {
	content: "\e0a3";
}
.icon-arrows-left:before {
	content: "\e0a4";
}
.icon-arrows-m-down-shape:before {
	content: "\e0a5";
}
.icon-arrows-m-left-shape:before {
	content: "\e0a6";
}
.icon-arrows-m-right-shape:before {
	content: "\e0a7";
}
.icon-arrows-m-up-shape:before {
	content: "\e0a8";
}
.icon-arrows-right-circle-shape:before {
	content: "\e0a9";
}
.icon-arrows-right-circle:before {
	content: "\e0aa";
}
.icon-arrows-right-shape:before {
	content: "\e0ab";
}
.icon-arrows-right:before {
	content: "\e0ac";
}
.icon-arrows-up-circle-shape:before {
	content: "\e0ad";
}
.icon-arrows-up-circle:before {
	content: "\e0ae";
}
.icon-arrows-up-shape:before {
	content: "\e0af";
}
.icon-arrows-up:before {
	content: "\e0b0";
}
.icon-back-shape:before {
	content: "\e0b1";
}
.icon-back:before {
	content: "\e0b2";
}
.icon-back2:before {
	content: "\e0b3";
}
.icon-bar-chart:before {
	content: "\e0b4";
}
.icon-bk:before {
	content: "\e0b5";
}
.icon-block-shape:before {
	content: "\e0b6";
}
.icon-calendar-shape:before {
	content: "\e0b7";
}
.icon-calendar:before {
	content: "\e0b8";
}
.icon-chain:before {
	content: "\e0b9";
}
.icon-check-1:before {
	content: "\e0ba";
}
.icon-check-circle-shape:before {
	content: "\e0bb";
}
.icon-check-circle:before {
	content: "\e0bc";
}
.icon-circle-4-1:before {
	content: "\e0bd";
}
.icon-circle-2-1:before {
	content: "\e0be";
}
.icon-circle-shape:before {
	content: "\e0bf";
}
.icon-circle:before {
	content: "\e0c0";
}
.icon-clipboard-shape:before {
	content: "\e0c1";
}
.icon-ck-store:before {
	content: "\e0c2";
}
.icon-clipboard:before {
	content: "\e0c3";
}
.icon-clock-shape:before {
	content: "\e0c4";
}
.icon-clock:before {
	content: "\e0c5";
}
.icon-close-circle-shape:before {
	content: "\e0c6";
}
.icon-close-circle:before {
	content: "\e0c7";
}
.icon-close:before {
	content: "\e0c8";
}
.icon-close3-shape:before {
	content: "\e0c9";
}
.icon-code:before {
	content: "\e0ca";
}
.icon-cog-shape:before {
	content: "\e0cb";
}
.icon-control-center:before {
	content: "\e0cc";
}
.icon-cog:before {
	content: "\e0cd";
}
.icon-cry:before {
	content: "\e0ce";
}
.icon-cry-shape:before {
	content: "\e0cf";
}
.icon-dashboard-2-shape:before {
	content: "\e0d0";
}
.icon-dashboard-2:before {
	content: "\e0d1";
}
.icon-dashboard-shape:before {
	content: "\e0d2";
}
.icon-dashboard:before {
	content: "\e0d3";
}
.icon-data-shape:before {
	content: "\e0d4";
}
.icon-data:before {
	content: "\e0d5";
}
.icon-data2-shape:before {
	content: "\e0d6";
}
.icon-data2:before {
	content: "\e0d7";
}
.icon-dedent:before {
	content: "\e0d8";
}
.icon-delete:before {
	content: "\e0d9";
}
.icon-dialogue-empty-shape:before {
	content: "\e0da";
}
.icon-dialogue-empty:before {
	content: "\e0db";
}
.icon-dialogue:before {
	content: "\e0dc";
}
.icon-dialogue-shape:before {
	content: "\e0dd";
}
.icon-dispirited:before {
	content: "\e0de";
}
.icon-dispirited-shape:before {
	content: "\e0df";
}
.icon-docker:before {
	content: "\e0e0";
}
.icon-down-shape:before {
	content: "\e0e1";
}
.icon-download:before {
	content: "\e0e2";
}
.icon-edit:before {
	content: "\e0e3";
}
.icon-ellipsis:before {
	content: "\e0e4";
}
.icon-edit2:before {
	content: "\e0e5";
}
.icon-email-shape:before {
	content: "\e0e6";
}
.icon-email:before {
	content: "\e0e7";
}
.icon-empty-shape:before {
	content: "\e0e8";
}
.icon-empty:before {
	content: "\e0e9";
}
.icon-end:before {
	content: "\e0ea";
}
.icon-event-query:before {
	content: "\e0eb";
}
.icon-exclamation-circle:before {
	content: "\e0ec";
}
.icon-exclamation-circle-shape:before {
	content: "\e0ed";
}
.icon-exclamation-triangle-shape:before {
	content: "\e0ee";
}
.icon-exclamation-triangle:before {
	content: "\e0ef";
}
.icon-exclamation:before {
	content: "\e0f0";
}
.icon-execute:before {
	content: "\e0f1";
}
.icon-eye-shape:before {
	content: "\e0f2";
}
.icon-eye-slash-shape:before {
	content: "\e0f3";
}
.icon-eye-slash:before {
	content: "\e0f4";
}
.icon-eye:before {
	content: "\e0f5";
}
.icon-feedback:before {
	content: "\e0f6";
}
.icon-file-plus-shape:before {
	content: "\e0f7";
}
.icon-file-plus:before {
	content: "\e0f8";
}
.icon-file-shape:before {
	content: "\e0f9";
}
.icon-file:before {
	content: "\e0fa";
}
.icon-folder-open-shape:before {
	content: "\e0fb";
}
.icon-folder-open:before {
	content: "\e0fc";
}
.icon-folder-plus-shape:before {
	content: "\e0fd";
}
.icon-folder-plus:before {
	content: "\e0fe";
}
.icon-folder:before {
	content: "\e0ff";
}
.icon-folder-shape:before {
	content: "\e100";
}
.icon-heart-shape:before {
	content: "\e101";
}
.icon-full-screen:before {
	content: "\e102";
}
.icon-heart:before {
	content: "\e103";
}
.icon-helm:before {
	content: "\e104";
}
.icon-helper:before {
	content: "\e105";
}
.icon-hide:before {
	content: "\e106";
}
.icon-home-shape:before {
	content: "\e107";
}
.icon-home:before {
	content: "\e108";
}
.icon-id-shape:before {
	content: "\e109";
}
.icon-image-shape:before {
	content: "\e10a";
}
.icon-id:before {
	content: "\e10b";
}
.icon-image:before {
	content: "\e10c";
}
.icon-indent:before {
	content: "\e10d";
}
.icon-info-circle-shape:before {
	content: "\e10e";
}
.icon-info-circle:before {
	content: "\e10f";
}
.icon-info:before {
	content: "\e110";
}
.icon-jd-node:before {
	content: "\e111";
}
.icon-jq-colony:before {
	content: "\e112";
}
.icon-key:before {
	content: "\e113";
}
.icon-left-shape:before {
	content: "\e114";
}
.icon-line-chart:before {
	content: "\e115";
}
.icon-lock-shape:before {
	content: "\e116";
}
.icon-list:before {
	content: "\e117";
}
.icon-lock:before {
	content: "\e118";
}
.icon-manage-center:before {
	content: "\e119";
}
.icon-minus-circle-shape:before {
	content: "\e11a";
}
.icon-minus-circle:before {
	content: "\e11b";
}
.icon-minus-square-shape:before {
	content: "\e11c";
}
.icon-minus-square:before {
	content: "\e11d";
}
.icon-minus:before {
	content: "\e11e";
}
.icon-mobile:before {
	content: "\e11f";
}
.icon-mobile-shape:before {
	content: "\e120";
}
.icon-monitor-alarm:before {
	content: "\e121";
}
.icon-monitor-dashboard:before {
	content: "\e122";
}
.icon-monitor-list:before {
	content: "\e123";
}
.icon-monitor-log:before {
	content: "\e124";
}
.icon-monitor-metric:before {
	content: "\e125";
}
.icon-monitor-notice:before {
	content: "\e126";
}
.icon-monitor-rule:before {
	content: "\e127";
}
.icon-monitor-shield:before {
	content: "\e128";
}
.icon-monitors-cog:before {
	content: "\e129";
}
.icon-monitors:before {
	content: "\e12a";
}
.icon-more:before {
	content: "\e12b";
}
.icon-move:before {
	content: "\e12c";
}
.icon-my-approve:before {
	content: "\e12d";
}
.icon-my-perm:before {
	content: "\e12e";
}
.icon-my-project:before {
	content: "\e12f";
}
.icon-my-resource:before {
	content: "\e130";
}
.icon-namespace:before {
	content: "\e131";
}
.icon-next-shape:before {
	content: "\e132";
}
.icon-next:before {
	content: "\e133";
}
.icon-notification:before {
	content: "\e134";
}
.icon-order-shape:before {
	content: "\e135";
}
.icon-operate-audit:before {
	content: "\e136";
}
.icon-order:before {
	content: "\e137";
}
.icon-panel-permission:before {
	content: "\e138";
}
.icon-panel:before {
	content: "\e139";
}
.icon-panel-shape:before {
	content: "\e13a";
}
.icon-panels:before {
	content: "\e13b";
}
.icon-password-shape:before {
	content: "\e13c";
}
.icon-password:before {
	content: "\e13d";
}
.icon-pause:before {
	content: "\e13e";
}
.icon-pc-shape:before {
	content: "\e13f";
}
.icon-pipeline-shape:before {
	content: "\e140";
}
.icon-pipeline:before {
	content: "\e141";
}
.icon-play-shape:before {
	content: "\e142";
}
.icon-play-circle-shape:before {
	content: "\e143";
}
.icon-play:before {
	content: "\e144";
}
.icon-play2:before {
	content: "\e145";
}
.icon-play3:before {
	content: "\e146";
}
.icon-plus-circle-shape:before {
	content: "\e147";
}
.icon-plus-circle:before {
	content: "\e148";
}
.icon-plus-square-shape:before {
	content: "\e149";
}
.icon-plus:before {
	content: "\e14a";
}
.icon-plus-square:before {
	content: "\e14b";
}
.icon-project:before {
	content: "\e14c";
}
.icon-pz-config:before {
	content: "\e14d";
}
.icon-qq-shape:before {
	content: "\e14e";
}
.icon-question-circle-shape:before {
	content: "\e14f";
}
.icon-qq:before {
	content: "\e150";
}
.icon-question-circle:before {
	content: "\e151";
}
.icon-question:before {
	content: "\e152";
}
.icon-refresh:before {
	content: "\e153";
}
.icon-right-shape:before {
	content: "\e154";
}
.icon-rtx:before {
	content: "\e155";
}
.icon-save-shape:before {
	content: "\e156";
}
.icon-save:before {
	content: "\e157";
}
.icon-script-file:before {
	content: "\e158";
}
.icon-script-files:before {
	content: "\e159";
}
.icon-search:before {
	content: "\e15a";
}
.icon-sina-shape:before {
	content: "\e15b";
}
.icon-sina:before {
	content: "\e15c";
}
.icon-sitemap-shape:before {
	content: "\e15d";
}
.icon-smile-shape:before {
	content: "\e15e";
}
.icon-sitemap:before {
	content: "\e15f";
}
.icon-smile:before {
	content: "\e160";
}
.icon-sort:before {
	content: "\e161";
}
.icon-star-shape:before {
	content: "\e162";
}
.icon-star:before {
	content: "\e163";
}
.icon-stop:before {
	content: "\e164";
}
.icon-stop-shape:before {
	content: "\e165";
}
.icon-templateset:before {
	content: "\e166";
}
.icon-tree-application-shape:before {
	content: "\e167";
}
.icon-tree-application:before {
	content: "\e168";
}
.icon-tree-group:before {
	content: "\e169";
}
.icon-tree-group-shape:before {
	content: "\e16a";
}
.icon-tree-module-shape:before {
	content: "\e16b";
}
.icon-tree-module:before {
	content: "\e16c";
}
.icon-tree-process-shape:before {
	content: "\e16d";
}
.icon-tree-process:before {
	content: "\e16e";
}
.icon-un-full-screen:before {
	content: "\e16f";
}
.icon-unlock-shape:before {
	content: "\e170";
}
.icon-unlock:before {
	content: "\e171";
}
.icon-up-shape:before {
	content: "\e172";
}
.icon-upload:before {
	content: "\e173";
}
.icon-user-list-detail:before {
	content: "\e174";
}
.icon-user-shape:before {
	content: "\e175";
}
.icon-user:before {
	content: "\e176";
}
.icon-var:before {
	content: "\e177";
}
.icon-weixin:before {
	content: "\e178";
}
.icon-weixin-shape:before {
	content: "\e179";
}
.icon-wl-network:before {
	content: "\e17a";
}
.icon-work-manage:before {
	content: "\e17b";
}
.icon-yy-apply:before {
	content: "\e17c";
}
.icon-zy-resource:before {
	content: "\e17d";
}
.icon-crd:before {
	content: "\f21b";
}
.icon-crd1:before {
	content: "\f21c";
}
.icon-hpa:before {
	content: "\f28f";
}
.icon-log-collection:before {
	content: "\f290";
}
