@define-mixin detail-info $itemCount {
    padding: 26px 24px 20px;
    background-color: #FFFFFF;
    .name {
        font-size: 18px;
        color: #222222;
    }
    .workload-info-basic {
        display: flex;
        align-items: baseline;
        padding-bottom: 12px;
        border-bottom: 1px solid #F3F3F3;
    }
    .basic-wrapper {
        display: flex;
        align-items: center;
        .basic-item {
            display: flex;
            align-items: center;
            font-size: 12px;
            color: #979BA5;
            margin-right: 40px;
            .value {
                color: #222222;
                padding-left: 10px;
            }
        }
    }
    .workload-main-info {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        .info-item {
            display: flex;
            width: calc(100% / $itemCount - 20px);
            font-size: 12px;
            color: #979BA5;
            margin-top: 16px;
            padding-right: 20px;
            .label {
                min-width: 50px;
            }
            .value {
                color: #222222;
                padding-left: 10px;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }
        }
    }

}