@import '@/css/variable.css';

.biz-namespace-wrapper {
    max-height: 400px;
    overflow: auto;

    .alternative-namespace {
        margin-bottom: 0;
    }

    .bk-tooltip {
        margin-top: 10px;
    }
}

.biz-namespace-selected-list .bk-button {
    margin-bottom: 5px;
}

.area-wrapper {
    padding: 10px 15px;
    background: #f9fbfd;
    border: 1px solid #dde4eb;
    border-radius: 2px;
}

.action-btn {
    height: 36px;
    text-align: center;
    display: inline-block;
    border: none;
    background: transparent;
    outline: none;

    .bcs-icon {
        width: 24px;
        height: 24px;
        line-height: 24px;
        border-radius: 50%;
        vertical-align: middle;
        border: 1px solid #dde4eb;
        color: #737987;
        font-size: 14px;
        display: inline-block;

        &.icon-minus {
            font-size: 15px;
        }
    }
}

.lb-text {
    color: #ff9c01;
}

.lb-text {
    &.running {
        color: #34d97b;
    }

    &.abnormal {
        color: #ea3636;
    }
}
