@import '@open/css/variable.css';

.biz-namespace-wrapper {
    max-height: 400px;
    overflow: auto;

    .alternative-namespace {
        margin-bottom: 0;
    }

    .bk-tooltip {
        margin-top: 10px;
    }
}

.biz-namespace-selected-list .bk-button {
    margin-bottom: 5px;
}
