@import '@open/css/variable.css';

.biz-namespace-wrapper {
    .alternative-namespace {
        margin-bottom: 0;
    }

    .bk-tooltip {
        margin-bottom: 10px;
    }
}

.biz-data-table>thead>tr>th {
    background: #fafbfd;
}

.biz-data-table>thead>tr>th,
.biz-data-table>thead>tr>td,
.biz-data-table>tbody>tr>th,
.biz-data-table>tbody>tr>td {
    height: 42px;
    padding: 10px 20px;
}

.head {
    overflow: hidden;

    .bk-button {
        float: right;
    }
}
